{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile view</title>
    <link rel="stylesheet" href="{% static 'css/profile_view.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="menu">
        <div class="menu-bar">
            <a href="{% url 'home' %}">Home</a>
        </div>
        <div class="menu-bar">
            <a href=""> About </a>
        </div>
        <div class="menu-bar">
            <a href="">Portfolio</a>
        </div>
        <div class="menu-bar">
            <a href="{% url 'contact' %}"> Contact </a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Category</button>
            <div class="dropdown-content">
                {% for i in category %}
                    <a href="{% url 'category' i.id %}">{{ i.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="menu-bar">
            <a href="{% url 'logout' %}"> Logout </a>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Profile</button>
            <div class="dropdown-content">
                {% if user_profile %}
                    <a href="{% url 'create-profile' user.id %}">Create</a>
                {% else %}
                    <a href="{% url 'edit-profile' prof_acc.id %}">Update</a>
                    <a href="{% url 'delete-profile' prof_acc.id %}">Delete</a>
                    <a href="{% url 'profile' prof_acc.id %}">View</a>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="menu-bar">
            <a href="{% url 'register' %}"> Register </a>
        </div>
        <div class="menu-bar">
            <a href="{% url 'login' %}"> Login </a>
        </div>
        {% endif %}
        <div class="menu-bar1">
            {% if user.is_authenticated %}
                <a href=""> {{ user.username }} </a>
            {% else %}
                <a href=""> Ghost </a>
            {% endif %}
        </div>
    </div>

    <div class="body">
        <div class="img">
            <div>
                {% if profile.confidentiality %}
                <img src="{{ profile.image.url }}" alt="" class="img-foto">
                <div class="name-user">
                    username - {{ profile.user }} | {{ profile.user.last_name }} {{ profile.user.first_name }}
                </div>
                <div class="url">
                    {% if profile.url_website %}
                        <a href="{{ profile.url_website }}">
                            <img src="{% static 'img/icon/internet.png' %}" alt="" class="png">
                        </a>
                    {% endif %}
                    {% if profile.url_instagram %}
                    <a href="{{ profile.url_instagram }}">
                        <img src="{% static 'img/icon/instagram.png' %}" alt="" class="png">
                    </a>
                    {% endif %}
                    {% if profile.url_telegram %}
                    <a href="{{ profile.url_telegram }}">
                        <img src="{% static 'img/icon/telegram.png' %}" alt="" class="png">
                    </a>
                    {% endif %}
                    {% if profile.url_github %}
                    <a href="{{ profile.url_github }}">
                        <img src="{% static 'img/icon/github.png' %}" alt="" class="png">
                    </a>
                    {% endif %}
                </div>
                <div class="star">
                    <div class="rating">
                        {% if user.is_authenticated %}
                            {% for i in rating %}
                                <a href="{% url 'star-account' profile.id i %}"> <span class="fa fa-star checked"></span> </a>
                            {% endfor %}
                            {% for i in unrating %}
                                <a href="{% url 'star-account' profile.id i %}"> <span class="fa fa-star "></span> </a>
                            {% endfor %}
                        {% else %}
                            {% for i in rating %}
                                <a href="{% url 'login' %}"> <span class="fa fa-star checked"></span> </a>
                            {% endfor %}
                            {% for i in unrating %}
                                <a href="{% url 'login' %}"> <span class="fa fa-star "></span> </a>
                            {% endfor %}
                        {% endif %}                            
                        <div class="count-star">
                            {{ ball }} - Votes
                        </div>
                    </div>
                    <div class="likes">
                        <div class="likes-he">
                            {% if user.is_authenticated %}
                            <a href="{% url 'likes' profile.id %}">
                                    {% if liked %}
                                        <img src="{% static 'img/heart.png' %}" alt="" class="img-likes">
                                    {% else %}
                                        <img src="{% static 'img/love.png' %}" alt="" class="img-likes">
                                    {% endif %}
                            </a>
                            {% else %}
                                <a href="{% url 'login' %}">
                                    <img src="{% static 'img/love.png' %}" alt="" class="img-likes">
                                </a>
                            {% endif %}
                            
                        </div>
                        <div class="likes-count">
                            {{ profile.total_likes }} - likes
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="bio">
                <p>
                    {{ profile.bio|safe }}
                </p>
            </div>
        </div>
    </div>
    <style>
        .checked{
            color: yellow;
        }
    </style>
</body>
</html>